<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338261764545-l39mn8dmskkrsssafesoeqqlduovh9m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338261764545-l39mn8dmskkrsssafesoeqqlduovh9m0</string>
	<key>API_KEY</key>
	<string>AIzaSyD65923Mv7tmBabO_1dDYLtzYAIKcDP27E</string>
	<key>GCM_SENDER_ID</key>
	<string>338261764545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.itsudemo.docodemo.bookListSample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-69b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-69b6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338261764545:ios:5f379ff7a7062c363ce740</string>
</dict>
</plist>